.bicicletas {
  padding: 60px 20px;
}

.bicicletas ul {
  display: flex;
  gap: 40px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
}

.bicicletas li {
  min-width: 280px;
}

.bicicletas a {
  display: block;
  margin-bottom: 20px;
}

.bicicletas img {
  margin-bottom: 16px;
}

.bicicletas h2 {
  margin-bottom: 40px;
}

.bicicletas ul span {
  margin-left: 23px;
}

.bicicletas ul h3 {
  display: flex;
  align-items: center;
  gap: 0 10px;
  margin-bottom: 10px;
}

.bicicletas ul h3::before {
  content: "";
  display: inline-block;
  height: 8px;
  width: 13px;
  background-color: var(--cor-p1);
  transition: 0.2s;
}

.bicicletas a:hover h3::before {
  width: 24px;
}

@media (max-width: 800px) {
  .bicicletas ul {
    gap: 20px;
  }
}
