.container {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 1200px;
}

.botao {
  display: inline-block;
  font-size: 18px;
  line-height: 1.33;
  background: linear-gradient(#ffbb00, #f2a50c);
  padding: 14px 28px;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: bold;
  color: #332200;
  height: max-content;
  width: max-content;
  border: none;
  cursor: pointer;
}

.botao:hover {
  background: linear-gradient(#ffb60d, #e59317);
}

.botao.secundario {
  background: var(--cor-10);
  color: var(--cor-2);
}

.botao.secundario:hover {
  background: var(--cor-9);
}

@media (max-width: 600px) {
  .botao {
    font-size: 13px;
    padding: 10px 16px;
  }
}

.botao.seta::after {
  content: "";
  display: inline-block;
  background-image: url(../../img/icones/seta.svg);
  width: 18px;
  height: 10px;
  margin-left: 12px;
  transition: 0.2s;
}

.botao.seta:hover::after {
  transform: translateX(5px);
}

.link {
  display: inline-block;
  text-transform: uppercase;
  color: var(--cor-p1);
}

.link::after {
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  margin-top: 4px;
  background-color: currentColor;
}

.link:hover {
  color: var(--cor-0);
}

.titulo-bg {
  background-color: var(--cor-11);
  padding-top: 60px;
  padding-bottom: 60px;
}

.titulo-conteudo p {
  margin-bottom: 4px;
}

@media (max-width: 800px) {
  .titulo-conteudo p {
    font-size: 1rem;
    text-transform: lowercase;
  }
  .titulo-bg {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
